<h1>View Book:</h1>
<p><a href="/books/<%=@book.id%>"><%= @book.title %> - <%= @book.author %></a></p>
<a href="/books/<%= @book.id %>/edit">Edit Book</a>
<br>
<br>
  <form action="/books/<%=@book.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Book">
  </form>
<br>
<a class="button" href="/books">Back to My ReadingList</a><br>
<a class="button" href="/logout">Log Out</a>