<h1>My ReadingList: Add Comment to Book</h1>
<br>
<h2>Add Comment To (Select Book):</h2>
<form action="/user_books" method="POST">
  <input type="hidden" name="user_book[user_id]" value="<%=current_user.id%>">
    <%@books.each do |book|%>
      <input type="checkbox" name="user_books[book_id][]" value="<%=book.id%>"><%=book.title%>
      <label for="book_id_<%=book.id%>_comment">Comment: </label>
      <input id="book_id_<%=book.id%>_comment" type="textarea" name="user_books[book_id_<%=book.id%>][comment]">
      <input type="submit" value="Add Comment">
    <%end%>
</form>
<br>

<%# <h2>Create New Book with Comment:</h2> %>
<a class="button" href="/show">Back to My ReadingList</a><br>
<a href="/logout">Log Out</a>